@model Practice_7.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background: #f1f1f1;
        }
    </style>
</head>
<body>
    <div>
        <h1>Спасибо, @Model.Name!</h1>
        <div>
            @if (Model.WillAttend == true)
            {
                @:Здорово что вы придете, напитки уже в холодильнике ;)
            }
            else
            {
                @:Жаль что вы не придете, но спасибо что дали об этом знать.
            }
        </div>
        <br />
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <input type="submit" value="На главную" />
        }
    </div>
</body>
</html>

